@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    -webkit-font-smoothing: antialiased;

}
body, input, button {
    font: 16px Roboto, sans-serif;
}
.fr {
    float:right;
}
#root {
    max-width: 980px;
    margin: 0 auto;
    padding: 40px 20px;
}
button {
    cursor: pointer;
}

#app {
    border: 0px;
    margin: 0px;
    height: 100%;
}
#main-header {
    background: rgb(0,14,41);
    background: linear-gradient(0deg, rgba(0,14,41,1) 0%, rgba(0,20,58,1) 100%);
    padding: 10px;
}
#main-header img {
    margin-left: 10px;
    width: 100px;
    height: auto;
}
#main-header .main-title {
    float:right;
    font-size: 20px;
    color: #5679b8;
    font-weight: bolder;
    margin-top: 20px;
}
#main {
    padding: 20px 0 10px 0;
    height: 100%;
}
.card {
    background-color: #fff;
}
.card-title b {
    color: #5679b8;
}
.welcome {
    background: transparent url(../img/welcome.jpg) top left no-repeat;
    background-size: cover;
    height: 100%;
    padding: 150px 50px 150px 50px;
}
.welcome h1 {
    color: #5679b8;
}