<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrupoA - Sistema de Gestão Acadêmica</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
</head>
<body>
    <div id="app">
        <header id="main-header">
            <div class="container-fluid">
                <span class="main-title">Sistema de Gestão Acadêmica</span>
                <img src="/img/grupoa_logo.png" />
            </div>            
        </header>
        <main id="main"> 
            <div class="container-fluid">
              {% block content %}{% endblock %}
            </div>
        </main>
    </div>
    
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
